<div *ngIf="userData" class="container">
    <div class="row">
        <div class="col border p-3 rounded">
            Hi, {{userData.prenom}}, you're currently managing you children's account. To go back to your personnal dashboard <a href="/dashboard">click here</a>.
        </div>
    </div>
    <div class="row mt-3">
        <div class="col border p-3 rounded">
            <a href="/childrenRegister">Add a child</a>
        </div>
    </div>
    <app-error-message></app-error-message>
    <div *ngIf="childrensNas">
        <div *ngFor="let nas of childrensNas.nasList" class="row">
            <div class="col">
                <app-permit-management [nas]="nas"></app-permit-management>
            </div>
        </div>
    </div>
</div>