<div *ngIf="userData" class="container">
    <div class="row justify-content-between">
        <div class="col border p-3 rounded">
            Hi, {{userData.prenom}}, if you would like to manage your child's account <a href="/childrenDashboard">click here</a>.
        </div>
        <div class="col border p-3 rounded">
            <button style="background:none;border:none;" (click)="logout()">Log out</button>
        </div>
    </div>
    <div *ngIf="userData" class="row">
        <div class="col">
            <app-permit-management [nas]=userData.numeroAssuranceSocial></app-permit-management>
        </div>
    </div>
</div>